header{
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    color: white;

}
.wrap{
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 980px;
    background: black;
}